body {
    background-color: #111;
}

.max-width {
    max-width: 500px;
    width: center;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
}

button {
    padding: 10px;
    border: none;
    font-family: 'Arial';
    font-size: 1.1em;
    transition: all .5s;
    cursor: pointer;
    border-radius: 25px;
}

button:hover {
    background-color: #a1c0d1;
}

button:active {
    background-color: #111;
}

.bg-green {
    background-color: #7dce51;
}

.bg-yellow {
    background-color: #d3c559;
}

.bg-red {
    background-color: #e03434;
}